@model IEnumerable<PartnerLedgerViewModel>

@{
    ViewData["Title"] = "PartnerLedger";
}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">

        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                @*Page-header start*@
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Partner Ledger Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="CreateOrEdit" asp-controller="Partner"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-user-plus"></i> Add New Partner
                                </a>

                                <a asp-action="Index" asp-controller="Partner"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> Partner List
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="page-header card">
                    <div class="card-block">

                        <form method="get">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Partner<span class="required">*</span></label>
                                        <select class="select2 form-control" asp-items="@ViewBag.PartnerLedger"
                                                data-placeholder="Select a Manufacturer" style="width: 100%;">
                                            <option selected="selected" value="0">--Select Partner--</option>
                                        </select>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">From<span class="required">*</span></label>
                                        <input type="date" class="form-control" id="inlineFormInputName">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">To<span class="required">*</span></label>
                                        <input type="date" class="form-control" id="inlineFormInputName">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12" style="padding-top: 20px;">
                                    <div class="form-group pt-2">
                                        <button type="submit" class="btn btn-primary mr-2"><i class="fa fa-search"></i> Search</button>
                                        <button type="button" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <h5>Partners Ledger</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Description</th>
                                            <th>Voucher No</th>
                                            <th>Credit</th>
                                            <th>Debit</th>
                                            <th>Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3" align="right"><b>Grand Total:</b></td>
                                            <td align="right"><b>$ 00.00</b></td>
                                            <td align="right"><b>$ 00.00</b></td>
                                            <td align="right"><b>$ 0.00</b></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*Basic table card end*@
                </div>
                @*Page-body end*@

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
@*Main-body end*@