@model Product

<div id="exampleModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text text-white">
                <h5 class="modal-title">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="CreatePartial" id="frm" asp-controller="Product">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Name <span class="required">*</span></label>
                                <input type="text" asp-for="Name" class="form-control" required autofocus />
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Manufacturer</label>
                                <select required class="form-control select2 custom-select2" id="Manufectuer" style="width: 100%;" asp-for="ManufacturerId" asp-items="@ViewBag.Manufacturers">
                                    <option selected="selected" value="0">--Select Manufacturer--</option>
                                </select>
                                <span asp-validation-for="ManufacturerId" class="text-danger"></span>

                                <a asp-action="Index" asp-controller="Manufacturer" class="text text-info" style="color: white; cursor: pointer;">
                                    <i class="fa fa-building"></i> Manage Manufecturer
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Category</label>
                                <select required class="form-control select2" style="width: 100%;" id="CategoryId" asp-for="CategoryId" asp-items="@ViewBag.Category">
                                    <option selected="selected" value="0">--Select Category--</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                                <a asp-action="Index" asp-controller="Category" class="text text-info" style="color: white; cursor: pointer;">
                                    <i class="fa fa-list"></i> Manage Category
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textarea asp-for="Description" class="form-control"> </textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <hr />
                            <label class="control-label">Unit Details</label>
                            <a asp-action="Index" asp-controller="Unit" class="text text-info" style="color: white; cursor: pointer;">
                                <i class="fa fa-balance-scale"></i> Manage Unit
                            </a>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Unit Name</td>
                                    <td>Unit Sell Price</td>
                                </tr>
                                @foreach (var m in ViewBag.Unit)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" class="form-control" name="UnitId" value="@m.Id" />
                                            <input value="@m.Name" readonly class="form-control" />
                                        </td>
                                        <td>
                                            <input type="number" value="0" step="any" name="UnitSellPrice" class="form-control" />
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-save="modal">Save</button>

                        <a asp-action="Index" asp-controller="Product" class="btn btn-primary">Manage</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $('.select2').select2()
    });
    $(document).ready(function () {
        $("#Manufectuer").select2({
            dropdownParent: $("#exampleModal")
        });
        $("#CategoryId").select2({
            dropdownParent: $("#exampleModal")
        });
    });

</script>
<script>
    $('input').attr('autocomplete', 'off');
</script>