@model List<FileList>

<div class="row">
    <div class="col container">
        <div class="col-10">
            @*@foreach (var items in Model.ImageList)
                {
                    var iPhotoUrl = "/Uploads/Backups/" + items;
                    <a class="float-left p-2" src="@iPhotoUrl" height="150" />

                }*@
            <table>
                <tr>
                    <th>File Name</th>
                    <th></th>
                </tr>
               
            </table>

        </div>
    </div>
</div>